*,::before,::after{
    box-sizing: border-box;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

div{
    display: block;
}

ul{
    display: block;
}


.Footer-container{
    background-color: #212529!important;
}

li{
    list-style: none;
}

.main-footer{
    display :-webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
}

.main-footer > *{
    flex: 1 100%;
}

.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left img{
    width: 30%;
}

h2{
    font-weight: 400;
    font-size: 17px;
}

.main-footer ul{
    list-style: none;
    padding-left: 0;
}

.main-footer li{
    line-height: 2em;
}

.main-footer a{
    text-decoration: none;
}
.footer-right{
    display :-webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right> *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a{
    color: #999;
}

.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-bottom p{
    color: white;
}

.footer-left p{
    padding-right: 0%;
    color: #999;
}

.socials a{
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;

}

.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width:600px) {
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }

    .footer-right{
        flex: 2 0px;
    }
    
}

@media(max-width:600px)
{
    .main-footer{ 
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}