
.popular__product{
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-left: 2em;
    padding-top: 5px;
    max-width: 300px;
    color: black;
}
.container_title{
    background-color: white;
}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    font-family: 'Poppins';
    transition: 0.5s;
    animation-timing-function: ease-in-out;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.container_title > .card:hover{
    transform: scale(1px);
    box-shadow: 2px 2px 6px 2   px;
    cursor: pointer;
}



h5{
    font-size: 20px;
    font-weight: bold;
}


.slick-slide div {
    padding: 5px 15px;
    overflow: hidden;
  }

.card .text{
    text-align: center;
    font-weight: bold;
    font-size: 16px;    
}

.btbuy{
    background: linear-gradient(to right, #f030a7,#f03061,#f03061);
    border-radius: 3px;
    border: none;
    color: white;
    padding: 10px;
    width: 30%;
    margin: auto;
    font-weight: bold;
    text-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
}

.btbuy:hover{
    transform: translateY(-3px);
}

@media (max-width: 768px){
    .container_title{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 45cm;

    }

    .btbuy{
        font-size: 12px;
    }
}

@media (max-width: 500px){
    .container_title{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 125cm;
    }
}

