.img{
    width: 100%;
    height: auto;
}

.container1{
    background-color: #222222;
}

h1{
    text-align: center;
    background-color: cyan;
    width: auto;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-stretch: expanded;
    color: white;
    font-size: 20px;
    padding-top: -10px;
    padding-bottom: 5px;
    text-align: center;
}

.contain-banner{
    background: linear-gradient(to right, lightblue, cyan, blue); ;
    height: 80%;

}

.contain-banner h1{
    background: linear-gradient(to right, lightblue, cyan, blue);
    font-size: 40px;
    padding-top: 10px;
    color: white;
}
